<div class="flex items-center justify-center min-h-screen">
  <div class="uk-card container">
    <div class="uk-card-header">
      <h1 class="uk-card-title">Log in</h1>
    </div>
    <div class="uk-card-body">
      <%= form_with model: @user, url: session_path, html: {class: "uk-form-stacked"} do |form| %>
        <div>
          <%= form.label :email, class: "uk-form-label" %>
          <%= form.email_field :email, class: 'uk-input' %>
        </div>
        <div class="mt-3">
          <%= form.label :password, class: "uk-form-label" %>
          <%= form.password_field :password, class: 'uk-input' %>
        </div>
        <div class="mt-6">
          <%= form.submit 'Log In', class: 'uk-button uk-button-primary' %>
        </div>
      <% end %>
    </div>
    <div class="uk-card-footer">
      <%= link_to "Forgot your password?", new_password_reset_path, class: "text-muted-foreground link" %>
    </div>
  </div>
</div>