<div class="flex items-center justify-center min-h-screen">
  <div class="uk-card container">
    <div class="uk-card-header">
      <h1 class="uk-card-title">Reset your password</h1>
    </div>
    <div class="uk-card-body">
      <%= form_with model: @user, url: password_reset_path(token: params[:token]), html: {class: "uk-form-stacked"} do |form| %>
        <div class="mt-3">
          <%= form.label :password, class: "uk-form-label" %>
          <%= form.password_field :password, class: 'uk-input', required: true %>
          <% if form.object.errors.any? %>
            <% form.object.errors.full_messages_for(:password).each do |message| %>
              <div>
                <p class="uk-form-help text-red-500"><%= message %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mt-3">
          <%= form.label :password_confirmation, class: "uk-form-label" %>
          <%= form.password_field :password_confirmation, class: 'uk-input', required: true %>
          <% if form.object.errors.any? %>
            <% form.object.errors.full_messages_for(:password_confirmation).each do |message| %>
              <div>
                <p class="uk-form-help text-red-500"><%= message %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mt-6">
          <%= form.submit 'Reset your password', class: 'uk-button uk-button-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>