<div class="flex items-center justify-center min-h-screen">
  <div class="uk-card container">
    <div class="uk-card-header">
      <h1 class="uk-card-title">Sign In</h1>
    </div>
    <div class="uk-card-body">
      <%= form_with model: @user, url: registration_path, html: {class: "uk-form-stacked"} do |form| %>
        <div>
          <%= form.label :email, class: "uk-form-label" %>
          <%= form.email_field :email, class: 'uk-input', required: true %>
          <% if form.object.errors.any? %>
            <% form.object.errors.full_messages_for(:email).each do |message| %>
              <div>
                <p class="uk-form-help text-red-500"><%= message %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mt-3">
          <%= form.label :password, class: "uk-form-label" %>
          <%= form.password_field :password, class: 'uk-input', required: true %>
          <% if form.object.errors.any? %>
            <% form.object.errors.full_messages_for(:password).each do |message| %>
              <div>
                <p class="uk-form-help text-red-500"><%= message %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mt-3">
          <%= form.label :password_confirmation, class: "uk-form-label" %>
          <%= form.password_field :password_confirmation, class: 'uk-input', required: true %>
          <% if form.object.errors.any? %>
            <% form.object.errors.full_messages_for(:password_confirmation).each do |message| %>
              <div>
                <p class="uk-form-help text-red-500"><%= message %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mt-6">
          <%= form.submit 'Sign Up', class: 'uk-button uk-button-primary' %>
        </div>
      <% end %>
    </div>
    <div class="uk-card-footer">
      <p><span>Already signed in?</span>
        <%= link_to "Log In", new_session_path, class: "text-muted-foreground link" %>
      </p>
    </div>
  </div>
</div>